.btn-files {
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    transition: 0.5s;
    color: white;            
    border-radius: 10px;
}

.btn-files:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.item {
  padding: 17px 17px;
}

.signature-form {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
  font-size: 12px;
  height: 5rem;
}
